<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @book.classification %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Book type:</strong>
  <%= @book.book_type %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<h2>Authors</h2>
<hr />

<% @authors.each do |author| %>
  <%= link_to author.full_name, author_path(author) %>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

